<h1> Exsisting Project </h1>

<h2>
	<strong>Title:</strong>
	<%= @project.title %> | <%= @project.id %>
</h2>

<h2>Задачи:</h2>
<% @project.todos.each do |todo| %>
	<li>
		<%= todo.title %> | <%= todo.isComplited ? '+' : '-' %> | <%= todo.project_id %>
		<%= link_to 'Edit', edit_todo_path(todo) %> <br>
	</li>

<% end %>

<br>

<h2>Add todo:</h2>
<%= form_with(model: [ @project, @project.todos.build ], local: true) do |form| %>
	<p>
		<%= form.label :title %><br>
		<%= form.text_field :title %>
	</p>
	
	<p>
		<%= form.label "Done" %>
		<%= form.check_box :isComplited %> <br>
	</p>

	<p>
		<%= form.submit %>
	</p>
<% end %>

<%= link_to 'Back to listing', projects_path %> || 
<%= link_to 'Edit', edit_project_path(@project) %>