<h1>Edit Todo<h1>

<%= render 'form' %>
<!--
<%= form_with model: @todo, local: true do |form| %>
	<p>
		<%= form.label :title %><br>
		<%= form.text_field :title %>
	</p>
	
	<p>
		<%= form.label "Done" %>
		<%= form.check_box :isComplited %> <br>
	</p>

	<p>
		<%= form.submit %>
	</p>
<% end %>
-->